.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.a-right{
    flex: 1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: blueviolet;
    background-image: url(../../img/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg);
    background-size: cover;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a-award-img{
    width: 150px;
    height: 120px;
    border-radius: 20px;
    margin-right: 20px;
}

.a-title{
    font-weight: 900;
}

.a-sub{
    margin: 20px 0px;
    font-weight: bold;
}

.a-desc{
    font-weight: 300;
    margin-right: 10px;
}

.a-award{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a-award-desc{
    margin-right: 10px;
}

.a-award-texts{
    width: 70%;
}

.a-award-title{
    font-weight: bold;
    color:blue;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .a {
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left {
        width: 100%;
    }

    .a-card {
        margin-top: 50px;
        height: 50vh;
    }

    .a-card.bg, .a-award {
        display: none;
    }

    .a-right {
        padding: 20px;
    }
}